.challengeBoxContainer{
    position: relative;
    height: 100%;
    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    padding: 1.5rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.challengeNotActive{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.challengeNotActive strong{
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 500;
}

.challengeNotActive p{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;
    max-width: 70%;
    margin-top: 3rem;
}

.challengeNotActive .levelUpImage{
    margin: 1rem 0;
}

.challengeActive{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.challengeActive header{
    color: var(--blue);
    font-weight: 600;
    font-size: 1.25rem;
    padding: 0 2rem 1.5rem;
    border-bottom: 1px solid var(--gray-line);
}

.challengeActive main{
    flex: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.challengeActive main strong{
    font-size: 2rem;
    font-weight: 600;
    color: var(--title);
    margin: 1.5rem 0 1rem;
}

.challengeActive main p{
    line-height: 1.5;
}

.challengeActive footer{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 2px solid var(--gray-line);
}

.challengeActive footer button {
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;

    color: var(--white);
    font-size: 1rem;
    font-weight:  600;

    transition: filter 0.10s;
}

.challengeActive footer button.challengeFailedButton {
    background: #FFF5F5;
    color: var(--red);
    border-right: 2px solid var(--gray-line); 
}

.challengeActive footer button.challengeSucceededButton {
    background: #F7FFF5;
    color: var(--green);
}

.challengeActive footer button:hover{
    filter: brightness(0.9);
}


@media(max-width: 800px){
    .challengeBoxContainer{
        min-height: 400px;
    }

    .challengeActive footer button {
        height: 3rem;
    }
}

