.container{
    min-width: 280px;

    display: flex;
    flex-direction: column;
}

.container article + article{
    margin-top: 7px;
}

.boardTitlesContainer{
    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 0.88rem;
    margin-bottom: 20px;
}

.positionTitle{
    flex: 0 1 4rem;
    padding: 0 1px;
}

.userTitle{
    flex: 3 0 6rem;
    padding-left: 2rem;
}

.challengesTitle{
    flex: 1 0 3.3rem;
}

.experienceTitle{
    flex: 1 0 4rem;
}