.container{
    height: 100vh;
    max-width: 1240px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.container .mainSection {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
    margin-top: 8rem;
}

.pageContent{
    margin-left: 6rem;
}

.header h1 {
    color: var(--blue);
    text-align: center;
    margin-bottom: 5rem;
}

.header h1 span {
    display: inline-block;
    background: var(--blue);
    color: var(--white);
    padding: 0.5rem 1rem;
    transform: skewX(-15deg);
}

.page{
    height: 100vh;
    display: flex;
}

.pageContent{
    position: relative;
    padding: 2.5rem 2rem;
}

.sideNav{
    position: fixed;
    z-index: 2;
    margin-right: 1.5rem;
    top:0;
    left:0;
    height: 100%;
}

/* .container .mainSection .countdownArticle,
.container .mainSection .countdownArticle button,
.container .mainSection .challengeArticle{
    min-width: 350px;
} */

@media(max-width: 870px){

    .container .mainSection {
        flex: 0 0 350px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        justify-content: center;
        align-content: center;
        margin-top: 5rem;
    }

}

@media(max-width: 800px){
    .container{
        height: 1150px;        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container .mainSection {
        width: 400px;
        flex: 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        
    }

}
